---
import './Section.css';
import { Tag, Comment } from '@components/ui';

export interface Props {
  sectionId: string;
  title: string;
  subtitle: string;
}

const { sectionId, title, subtitle } = Astro.props;
---

<section id={sectionId} class="section">
  <div class="section__title-container">
    <h4 class="section__title"><Tag value={title} /></h4>
    <Comment value={subtitle} />
  </div>
  <slot />
</section>
