.call-to-action {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 5rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--green-500);
  font-size: 1.05rem;
}

.bounce [astro-icon] {
  animation: bounce 2s ease infinite;
}

.call-to-action:hover {
  animation: none;
}

@keyframes bounce {
  60% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(60%);
  }
  80% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}
