---
import Layout from '@layouts/Layout.astro';
import { Container, Comment } from '@components/ui';

import Header from '@components/Header';
import Hero from '@components/Hero';
import About from '@components/About';
import Work from '@components/Work';
import Contact from '@components/Contact';
import Credits from '@components/Credits';
---

<Layout title="Julian Collinson Portfolio">
  <Container fluid>
    <Header />
  </Container>
  <main>
    <Container>
      <Hero sectionId="hero" />
      <About sectionId="about" />
      <Work sectionId="work" />
      <Contact sectionId="contact" />
      <Credits />
    </Container>
  </main>
</Layout>
