---
import Layout from '@layouts/Layout.astro';
import Container from '@components/ui/Container';
import Header from '@components/Header';
import Hero from '@components/Hero';
---

<Layout title="Julian Collinson Portfolio">
  <Container fluid>
    <Header />
  </Container>
  <main>
    <Container>
      <Hero />
    </Container>
  </main>
</Layout>
