.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

@media screen and (min-width: 900px) {
  .header__right {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-bottom: 1rem;
  }
}
