---
import './Header.css';
import Logo from './Logo.astro';
import Nav from './Nav.astro';
import Social from './Social.astro';
---

<header class="header">
  <Logo />
  <div class="header__right">
    <div class="media-xl"><Nav /></div>
    <div class="media-md"><Social /></div>
  </div>
</header>
