---
import './Logo.css';
import { Comment } from '@components/ui';
---

<div class="logo">
  <span>jcollinson.<span class="function">dev</span>()</span>
  <Comment value="Full-stack Developer" />
</div>
