---
import './Nav.css';
import Tag from '@components/ui/Tag';
---

<nav class="nav">
  <a class="nav__link" href="#about"><Tag value="About" /></a>
  <a class="nav__link" href="#work"><Tag value="Work" /></a>
  <a class="nav__link" href="#contact"><Tag value="Contact" /></a>
</nav>
