---
import './Nav.css';

import { Tag, LinkToSection } from '@components/ui';
---

<nav class="nav">
  <div class="nav__link">
    <LinkToSection sectionId="about"><Tag value="About" /></LinkToSection>
  </div>
  <div class="nav__link">
    <LinkToSection sectionId="work"><Tag value="Work" /></LinkToSection>
  </div>
  <div class="nav__link">
    <LinkToSection sectionId="contact"><Tag value="Contact" /></LinkToSection>
  </div>
</nav>
