---
import './Social.css';
import { IconLink } from '@components/ui';

const github = 'https://github.com/jcollinsondev';
const linkedin = 'https://www.linkedin.com/in/julian-collinson-b9825a173/';
---

<div class="social">
  <IconLink icon="github" href={github} target="_blank" />
  <IconLink icon="linkedin" href={linkedin} target="_blank" />
</div>
