---
import './Social.css';
import { Icon } from 'astro-icon';
---

<div class="social">
  <a class="social__link" href="https://github.com/jcollinsondev"
    ><Icon name="github" /></a
  >
  <a
    class="social__link"
    href="https://www.linkedin.com/in/julian-collinson-b9825a173/"
    ><Icon name="linkedin" /></a
  >
</div>
