---
import './Work.css';
import { Section } from '@components/ui';

import Project from './Project.astro';
import projects from './projects';

export interface Props {
  sectionId: string;
}

const { sectionId } = Astro.props;

const title = 'Work';
const subtitle = 'A selection of projects I am proud of ';
---

<Section sectionId={sectionId} title={title} subtitle={subtitle}>
  <div class="projects">
    {projects.map((project) => <Project project={project} />)}
  </div>
</Section>
